.nav {
   margin: 0 2em;
   width: 50%;
   color: white;
   border-bottom: 10px solid white;
   font-size: 18px;
}

.nav a {
   text-decoration: none;
   color: white;
}

.nav li {
   padding: 0;
   list-style: none;
   display: inline-block;
   margin: .5em .6em 0;
}

.nav ul {
   padding: 0;
   margin: 1em 0 .5em;
}